@import './markdown.css';
@import './theme.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html.dark {
  background: #121212;
  color-scheme: dark;
  --el-fill-color-blank: #3b3b3b;
  --el-border-color: white;
  --el-border-color-hover: white;
  --el-border-color-focus: white;
  --el-text-color-placeholder: white;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
